.App {
  text-align: center;
}

.photo {
  max-width: 200px;
  margin: 0.5rem;
}

.photo img {
  width: 100%;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  max-width: 900px;
  margin: 4rem auto;
  justify-content: center;
  align-items: center;
}
